@using Library.Models;

@{
  Layout = "_Layout";
}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Book Details:</h1>
        <h2>Title: @Model["selectedBook"].GetName()</h2>
        <hr />
        @if (@Model["bookAuthors"].Count != 0)
        {
          <h4>This book has these authors:</h4>
          <ul>
            @foreach (Author author in @Model["bookAuthors"])
            {
              <li>@author.GetName()</li>
            }
          </ul>
        }
        <h4>Add an author to this book:</h4>
        <form action='/books/@Model["selectedBook"].GetId()/authors/new' method='post'>
          <label for='author-id'>Select an author</label>
          <select id='author-id' name='author-id' type='text'>
            @foreach (var author in @Model["allAuthors"])
            {
              <option value='@author.GetId()'>@author.GetName()</option>
            }
          </select>
          <button type='submit'>Add an author to this book!</button>
        </form>
        <br>
        <form action='/books/@Model["selectedBook"].GetId()/edit' method='post'>
          <button type='submit'>Edit info!</button>
        </form>
        <br>
        <form action='/books/@Model["selectedBook"].GetId()/delete' method='post'>
          <button type='submit'>Delete this book!</button>
        </form>
        <br>
        @* <h4><a href="/books/@Model["selectedBook"].GetId()/edit">Edit info</a></h4> *@
        @* <h4 method='post'><a href="/books/@Model["selectedBook"].GetId()/delete">Delete book</a></h4> *@
        <h4><a href="/">Return to Home Page</a></h4>

    </div>
  </div>
</div>
